
:root {
  --primary: #38bdf8;
  --bg-dark: #0f172a;
  --bg-light: #f1f5f9;
  --card-dark: #020617;
  --card-light: #ffffff;
}

body {
  margin: 0;
  font-family: Arial;
  background: var(--bg-dark);
  color: white;
  transition: 0.3s;
}

body.light {
  background: var(--bg-light);
  color: #111;
}

nav {
  background: rgba(2,6,23,0.9);
  padding: 15px;
  text-align: center;
}

body.light nav {
  background: rgba(255,255,255,0.9);
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

body.light nav a {
  color: #111;
}

.theme-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  background: var(--primary);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.top-timer {
  text-align: center;
  font-size: 2rem;
  padding: 15px;
  font-weight: bold;
}

section {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.card {
  background: var(--card-dark);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

body.light .card {
  background: var(--card-light);
}
